%h2
  =t('forms.details')
  =" - "
  =@party.id

%div#person
  %dl.dl-horizontal
    %dt
      = "ID"
    %dd
      =@party.id
    -if @party.party_contact_mechanisms.length > 0
      -@party.party_contact_mechanisms.each do |pcm|
        %dt
          = 'From Date'
        %dd
          = pcm.from_date
        -if pcm.contact_mechanism.present? && pcm.contact_mechanism.electronic_address.present?
          %dt
            = "Email Address"
          %dd  
            = pcm.contact_mechanism.electronic_address.electronic_address_string


  = link_to t('actions.edit'), edit_party_path(@party), class: 'btn btn-small btn-primary'
  = link_to t('actions.back'), parties_path, class: 'btn btn-small'

